<ion-header>
  <ion-navbar>
    <ion-title>
      Mesas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item>
      Mesa 1
      <ion-badge color="primary" item-right>3</ion-badge>
    </button>
    <button ion-item>Mesa 2</button>
    <button ion-item>Mesa 3</button>
    <button ion-item>Mesa 4</button>
    <button ion-item>Mesa 5</button>
    <button ion-item>Mesa 6</button>
    <button ion-item>Mesa 7</button>
    <button ion-item>Mesa 8</button>
    <button ion-item>Mesa 9</button>
    <button ion-item>Mesa 10</button>
    <button ion-item>Mesa 11</button>
    <button ion-item>Mesa 12</button>
  </ion-list>
</ion-content>