<ion-header>
  <ion-navbar>
    <ion-title>
      Mesa {{ (table$ | async).number }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="table$ | async as table">
    <ion-card class="table-card">
      <ion-card-header>
        <ion-card-title>
          Total de ordenes: {{ table.orders.length || 0 }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <ion-list *ngIf="table.orders; else orderSuggestion">
          <ion-list-header>
            Tipo de mesa: {{ table.type }}
          </ion-list-header>
          <button ion-item *ngFor="let orderId of table.orders; index as i;" text-wrap>
            <div *ngIf="orderId | orderRef | async as order">
              <b>Orden {{i + 1}}</b>
              <p>
                {{order.products.length}} Producto{{order.products.length > 1 ? 's' : ''}}, {{order.created_at}}
              </p>
              <ion-badge [color]="order.status | colorOrderStatus">{{order.status | parseOrderStatus}}</ion-badge>
            </div>
          </button>
        </ion-list>
        <ng-template #orderSuggestion>
          <hr>
          <p ion-text text-center>No hay ordenes registradas. Añade una.</p>
        </ng-template>
        <ion-fab bottom right edge>
          <button ion-fab mini color="primary" (click)="addOrder(table.id)">
            <ion-icon name="add" color="light"></ion-icon>
          </button>
        </ion-fab>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer *ngIf="(table$ | async).orders">
  <button ion-button block no-margin large color="secondary">
    Cobrar
  </button>
</ion-footer>