<ion-header>
  <ion-navbar>
    <ion-title>
      Mesa {{ table.number }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-card class="table-card">
      <ion-card-header>
        <ion-card-title>
          Tipo de mesa: {{ table.type }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <ion-list *ngIf="table.orders">
          <ion-list-header>
            Total de ordenes: {{ table.orders.length || 0 }}
          </ion-list-header>
          <button ion-item *ngFor="let order of table.orders">
            {{ order }}
          </button>
        </ion-list>
        <ion-fab bottom right edge>
          <button ion-fab mini color="primary">
            <ion-icon name="add" color="light"></ion-icon>
          </button>
        </ion-fab>
      </ion-card-content>
    </ion-card>
    <div padding>
      <button ion-button block color="secondary">
        Finalizar orden
      </button>
    </div>
  </div>
</ion-content>