<ion-header>
  <ion-navbar>
    <ion-title>
      Mesa {{ table.number }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-card class="table-card">
      <ion-card-header>
        <ion-card-title>
          Tipo de mesa: {{ table.type }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <ion-list *ngIf="table.orders">
          <ion-list-header>
            Total de ordenes: {{ table.orders.length || 0 }}
          </ion-list-header>
          <button ion-item *ngFor="let order of table.orders" text-wrap>
            2 productos, 11:14 P.M.
            <ion-badge item-right color="warning">En despacho</ion-badge>
          </button>
        </ion-list>
        <ion-fab bottom right edge>
          <button ion-fab mini color="primary">
            <ion-icon name="add" color="light"></ion-icon>
          </button>
        </ion-fab>
      </ion-card-content>
    </ion-card>
    <!-- <div padding>
      
    </div> -->
  </div>
</ion-content>

<ion-footer *ngIf="table.orders">
  <button ion-button block no-margin large color="secondary">
    Cobrar
  </button>
</ion-footer>