page-landing {
  .landing-content {
    background-image: url('../assets/imgs/background.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container {
    // background: rgba(255, 255, 255, 0.5);
  }
}