page-landing {
  .landing-content {
    background-image: url('../assets/imgs/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    .scroll-content {
      padding: 10em 0em;
    }
  }
  .container {
    vertical-align: middle;
  }
}