<ion-header>
  <ion-navbar color="light">
    <ion-title>
      Perfil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <img src="" alt="">
        </ion-col>
        <ion-col>
          <h2>John Doe</h2>
          <b>Mesero</b>
          <p>23</p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <button ion-item>Ventas del día</button>
    <button ion-item>Ventas de la semana</button>
    <button ion-item>Ventas del mes</button>
  </ion-card>
</ion-content>