<ion-header>
  <ion-navbar>
    <ion-title>
      Añadir orden
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 ion-text text-center>Mesa: {{ currentTable.number }}</h2>
  <ion-list>
    <ion-list-header>Productos</ion-list-header>
    <button ion-item *ngFor="let product of products">
      <b item-left>{{ product.quantity }}</b>
      <div *ngIf="product.item | parseProductRef | async as productObj">
        {{ productObj.name | titlecase }}
      </div>
      <div item-right *ngIf="product.item | parseProductRef | async as productObj">
        <b>{{productObj.price | currency:'USD':'no-symbol':'1.0-0'}}</b>
        <p hidden [id]="product.item.id">{{productObj.price * product.quantity}}</p>
      </div>
    </button>
    <ion-item ion-item>
      <button ion-button icon-right clear item-right (click)="addProduct()">
        Añadir producto
        <ion-icon name="add" color="primary"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <h6 ion-text text-center>Total: {{ getTotalAmount() | currency:'USD':'no-symbol':'1.0-0'}}</h6>
  <button ion-button block large no-margin color="secondary" *ngIf="products.length > 0" (click)="createOrder()">
    Generar orden
  </button>
</ion-footer>