<ion-content padding>
  <div class="auth-img-container">
    <img src="" alt="">
  </div>
  <form [formGroup]="authForm" (submit)="login()" novalidate>
    <ion-item>
      <ion-icon name="contact" item-left></ion-icon>
      <ion-input placeholder="Usuario" type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock" item-left></ion-icon>
      <ion-input placeholder="Contraseña" type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="auth-button-container" text-center margin-top *ngIf="user$ | async as user">
      <button ion-button type="submit" color="light" *ngIf="!user.loading">Ingresar</button>
      <ion-spinner name="crescent" color="primary" *ngIf="user.loading"></ion-spinner>
    </div>
  </form>
</ion-content>