<ion-header>
  <ion-navbar>
    <ion-title>
      Orden
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="order$ | async as order">
    <ion-list>
      <ion-item>
        <b item-left>Estado: </b>
        <ion-badge [color]="order.status | colorOrderStatus">{{ order.status | parseOrderStatus }}</ion-badge>
      </ion-item>
      <ion-item>
        <b item-left>Hora de creación: </b>
        {{ order.created_at | parseDate:'h:mm A' }}
      </ion-item>
      <ion-item>
        <b item-left>Total: </b>
        {{ order.total_amount | currency:'USD':'no-symbol':'1.0-0' }}
      </ion-item>
      <ion-item-divider>Productos</ion-item-divider>
      <button ion-item *ngFor="let productReference of order.products" text-wrap (click)="productSelected(productReference.item)">
        <b item-left>{{productReference.quantity}}</b>
        {{ (productReference.item | parseProductRef | async)?.name | titlecase }}
        <b item-right class="demo">{{ (productReference.item | parseProductRef | async)?.price | currency:'COP':'no-symbol':'1.0-0' }}</b>
      </button>
    </ion-list>
  </div>
</ion-content>

<ion-footer *ngIf="order$ | async as order">
  <ng-container *ngIf="user$ | async as user">
    <ng-container *ngIf="user.role === 'waiter'">
      <button ion-button [block]="order.status !== ORDER_STATE.DISPATCH_OK" large no-margin color="danger" *ngIf="order.status !== ORDER_STATE.DELIVERED && order.status !== ORDER_STATE.CANCELED" (click)="cancelOrder()" [class.half-button]="order.status === ORDER_STATE.DISPATCH_OK">
        Cancelar orden
      </button>
      <button ion-button large no-margin color="secondary" *ngIf="order.status === ORDER_STATE.DISPATCH_OK" class="half-button" (click)="deliverOrder()">
        Entregar orden
      </button>
    </ng-container>
    <ng-container *ngIf="user.role === 'cashier'">
      <button ion-button large no-margin color="danger" [disabled]="order.status !== ORDER_STATE.CASHIER_PENDENT" (click)="cancelOrder()" class="half-button">
        Cancelar orden
      </button>
      <button ion-button large no-margin color="secondary" [disabled]="order.status !== ORDER_STATE.CASHIER_PENDENT" (click)="aproveOrder()" class="half-button">
        Aprobar orden
      </button>
    </ng-container>
  </ng-container>
</ion-footer>
