<ion-header>
  <ion-navbar>
    <ion-title>
      Orden
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="order$ | async as order">
    <ion-list>
      <ion-item>
        <b item-left>Estado: </b>
        <ion-badge [color]="order.status | colorOrderStatus">{{ order.status | parseOrderStatus }}</ion-badge>
      </ion-item>
      <ion-item>
        <b item-left>Total: </b>
        {{ order.total_amount | currency:'USD':'no-symbol':'1.0-0' }}
      </ion-item>
      <ion-item-divider>Productos</ion-item-divider>
      <ion-item *ngFor="let productReference of order.products" text-wrap>
        <b item-left>{{productReference.quantity}}</b>
        {{ (productReference.item | parseProductRef | async)?.name | titlecase }}
        <b item-right>{{ (productReference.item | parseProductRef | async)?.price | currency:'COP':'no-symbol':'1.0-0' }}</b>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <button ion-button block large no-margin color="danger" *ngIf="(order$ | async)?.status === 'cashier_pendent'">
    Cancelar orden
  </button>
</ion-footer>